.calendar-container {
  flex-direction: row !important;
}

.calendar-container .calendar-box {
 width: 40%; 
}

.calendar-box .calendar-header {
  font-family: 'TmonMonsori';
  margin: 60px 0 15px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #0088ff;
}

.calendar-box .calendar {
  width: 500px;
  height: 530px;
  background-color: #eff0f5;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
}


.calendar-container .calendar-recruit-box {
  width: 60%;
  height: 530px;
  background-color: #eff0f5;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  margin-top: 60px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.calendar-container .calendar-recruit-box > p {
  font-size: 25px;
  font-family: 'TmonMonsori';
  margin-left: 10px;
}

.calendar-recruit-box .calendar-recruit-inner-box {
  width: 100%;
  /* background-color: aqua; */
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 400px;
}

.calendar-recruit-inner-box .calendar-recruit-card {
  width: calc(50% - 55px);
  height: 50px;
  padding: 10px 15px;
  margin: 10px 10px;
  background-color: #eff0f5;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  transition: .5s;
  cursor: pointer;
}

.calendar-recruit-inner-box .calendar-recruit-card:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -3px -3px 4px -1px #ffffff;
  background-color: #ececf0;
}

.calendar-recruit-card > div {
  display: flex;
  justify-content: space-between;
}

.calendar-recruit-card > div > p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

.calendar-recruit-card > div > p:nth-child(2) {
  font-size: 10px;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
}

.calendar-recruit-card > p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.calendar-recruit-card > p > span {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
}