#single-date-picker {
  width: 100% !important;
}

.home-container {
  flex-direction: row;
}

.home-container .schedule-box {
}

.home-container .calendar-box {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.schedule-box .recruit-box {
  display: flex;
  flex-direction: column;
}

.recruit-box .recruit-header {
  font-family: 'TmonMonsori';
  margin: 30px 0 0px 30px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0,0,0,0.8);
}

.recruit-box .recruit-card-box {
  display: flex;
  justify-content: space-between;
}

.recruit-card-box .recruit-card {
  width: 220px;
  height: 250px;
  background-color: #eff0f5;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
}

.recruit-card-box .recruit-card:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 6px 6px 10px -1px rgba(0,0,0,0.2),
              inset -6px -6px 10px -1px #ffffff;
  background-color: #ececf0;
}

.recruit-card-box .recruit-card .recruit-card-img-box {
  display: flex;
  height: 50%;
  width: 70%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.recruit-card-box .recruit-card img {
  width: 70%;
}

.recruit-card-box .recruit-card p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  color: rgba(0,0,0,0.7);
}

.recruit-card > p:nth-child(3) {
  margin-top: 50px;
  font-size: 14px;
}

.recruit-card > p:nth-child(4) {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}





.schedule-box .test-box {
  display: flex;
  flex-direction: column;
}

.test-box .test-header {
  font-family: 'TmonMonsori';
  margin: 20px 0 0px 30px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0,0,0,0.8);
}

.test-box .test-card-box {
  display: flex;
  justify-content: space-between;
}

.test-card-box .test-card {
  width: 220px;
  height: 250px;
  background-color: #eff0f5;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
}

.test-card-box .test-card:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 6px 6px 10px -1px rgba(0,0,0,0.2),
              inset -6px -6px 10px -1px #ffffff;
  background-color: #ececf0;
}

.test-card-box .test-card .test-card-img-box {
  display: flex;
  height: 50%;
  width: 70%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.test-card-box .test-card img {
  width: 70%;
}

.test-card-box .test-card p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  color: rgba(0,0,0,0.7);
}

.test-card > p:nth-child(3) {
  margin-top: 50px;
  font-size: 14px;
}

.test-card > p:nth-child(4) {
  margin-top: 20px;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
}


#recruit-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  text-align: center;
  position: relative;
}

#recruit-slider input[type=radio] {
  display: none;
}

#recruit-slider label {
  cursor: pointer;
  text-decoration: none;
}

#recruit-slides {
  position: relative;
  z-index: 1;
}

#recruit-overflow {
  width: 100%;
  overflow: hidden;
}

#recruit-slide1:checked ~ #recruit-slides .recruit-inner {
  margin-left: 0;
}

#recruit-slide2:checked ~ #recruit-slides .recruit-inner {
  margin-left: -100%;
}

#recruit-slide3:checked ~ #recruit-slides .recruit-inner {
  margin-left: -200%;
}

#recruit-slide4:checked ~ #recruit-slides .recruit-inner {
  margin-left: -300%;
}

#recruit-slides .recruit-inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 280px;
}

#recruit-slides .recruit-slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#recruit-slides .recruit-slide_1 {
  background: rgb(149, 208, 247);
}

#recruit-slides .recruit-slide_2 {
  background: #d13838;
}

#recruit-slides .recruit-slide_3 {
  background: rgb(107, 82, 146);
}

#recruit-slides .recruit-slide_4 {
  background: #060;
}

#recruit-controls { 
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#recruit-controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 20px;
  height: 20px;
  opacity: .4;
}

#recruit-controls label:hover {
  opacity: 1;
}

#recruit-slide1:checked ~ #recruit-controls label:nth-child(2),
#recruit-slide2:checked ~ #recruit-controls label:nth-child(3),
#recruit-slide3:checked ~ #recruit-controls label:nth-child(4),
#recruit-slide4:checked ~ #recruit-controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -10px 0 0;
  display: block;
}

#recruit-slide1:checked ~ #recruit-controls label:nth-last-child(1),
#recruit-slide2:checked ~ #recruit-controls label:nth-last-child(4),
#recruit-slide3:checked ~ #recruit-controls label:nth-last-child(3),
#recruit-slide4:checked ~ #recruit-controls label:nth-last-child(2) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -10px;
  display: block;
}

#recruit-bullets {
  margin: 150px 0 0;
  text-align: center;
}

#recruit-bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#recruit-slide1:checked ~ #recruit-bullets label:nth-child(1),
#recruit-slide2:checked ~ #recruit-bullets label:nth-child(2),
#recruit-slide3:checked ~ #recruit-bullets label:nth-child(3),
#recruit-slide4:checked ~ #recruit-bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width:900px) {
    #recruit-slide1:checked ~ #recruit-controls label:nth-child(2),
    #recruit-slide2:checked ~ #recruit-controls label:nth-child(3),
    #recruit-slide3:checked ~ #recruit-controls label:nth-child(4),
    #recruit-slide4:checked ~ #recruit-controls label:nth-child(1) {
    margin: 0;
  }
  #recruit-slide1:checked ~ #recruit-controls label:nth-last-child(1),
  #recruit-slide2:checked ~ #recruit-controls label:nth-last-child(4),
  #recruit-slide3:checked ~ #recruit-controls label:nth-last-child(3),
  #recruit-slide4:checked ~ #recruit-controls label:nth-last-child(2) {
    margin: 0;
  }
}



#test-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  text-align: center;
  position: relative;
}

#test-slider input[type=radio] {
  display: none;
}

#test-slider label {
  cursor: pointer;
  text-decoration: none;
}

#test-slides {
  position: relative;
  z-index: 1;
}

#test-overflow {
  width: 100%;
  overflow: hidden;
}

#test-slide1:checked ~ #test-slides .test-inner {
  margin-left: 0;
}

#test-slide2:checked ~ #test-slides .test-inner {
  margin-left: -100%;
}

#test-slide3:checked ~ #test-slides .test-inner {
  margin-left: -200%;
}

#test-slide4:checked ~ #test-slides .test-inner {
  margin-left: -300%;
}

#test-slides .test-inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 280px;
}

#test-slides .test-slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#test-slides .test-slide_1 {
  background: rgb(149, 208, 247);
}

#test-slides .test-slide_2 {
  background: #d13838;
}

#test-slides .test-slide_3 {
  background: rgb(107, 82, 146);
}

#test-slides .test-slide_4 {
  background: #060;
}

#test-controls { 
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#test-controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 20px;
  height: 20px;
  opacity: .4;
}

#test-controls label:hover {
  opacity: 1;
}

#test-slide1:checked ~ #test-controls label:nth-child(2),
#test-slide2:checked ~ #test-controls label:nth-child(3),
#test-slide3:checked ~ #test-controls label:nth-child(4),
#test-slide4:checked ~ #test-controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -10px 0 0;
  display: block;
}

#test-slide1:checked ~ #test-controls label:nth-last-child(1),
#test-slide2:checked ~ #test-controls label:nth-last-child(4),
#test-slide3:checked ~ #test-controls label:nth-last-child(3),
#test-slide4:checked ~ #test-controls label:nth-last-child(2) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -10px;
  display: block;
}

#test-bullets {
  margin: 150px 0 0;
  text-align: center;
}

#test-bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#test-slide1:checked ~ #test-bullets label:nth-child(1),
#test-slide2:checked ~ #test-bullets label:nth-child(2),
#test-slide3:checked ~ #test-bullets label:nth-child(3),
#test-slide4:checked ~ #test-bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width:900px) {
    #test-slide1:checked ~ #test-controls label:nth-child(2),
    #test-slide2:checked ~ #test-controls label:nth-child(3),
    #test-slide3:checked ~ #test-controls label:nth-child(4),
    #test-slide4:checked ~ #test-controls label:nth-child(1) {
    margin: 0;
  }
  #test-slide1:checked ~ #test-controls label:nth-last-child(1),
  #test-slide2:checked ~ #test-controls label:nth-last-child(4),
  #test-slide3:checked ~ #test-controls label:nth-last-child(3),
  #test-slide4:checked ~ #test-controls label:nth-last-child(2) {
    margin: 0;
  }
}