.mylist-buy {
  margin-top: 200px;
  font-size: x-large;
  font-weight: 700;
}

.list-box-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: auto;
}

.list-box-img {
  width: 100%;
  height: 100%;
}

.list-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-box {
  width: 330px;
  height: 330px;
}

.list-ment {
  font-weight: 700;
  font-size: 18px;
  color: #004f94;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 10px;
}

.list-go {
  width: 80px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  transition: .3s;
}

.list-go:hover {
  color: #0088ff;
  font-weight: 700;
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
            0 0 0 0 rgba(0,0,0,0),
            inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -3px -3px 4px -1px #ffffff;
}