.recruit-wrap {
  padding: 0 100px !important;
  width: 1000px !important;
}

.recruit-container {
  flex-direction: row;
}

.recruit-container .recruit-user-box {
  width: 25%;
  height: 30px;
  position: relative;
  /* background-color: hotpink; */
}

.recruit-user-box .recruit-user-content {
  width: calc(90% - 40px);
  /* background-color: indigo; */
  position: absolute;
  padding: 30px;
  top:0;
  left:50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
}

.recruit-user-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.recruit-user-img-box > .default-img {
  width: 150px !important;
  height: 150px !important;
}

.recruit-user-img-box > img {
  width: 86%;
  padding: 7%;
}

.recruit-user-img-box > p {
  font-size: 12px;
  position: absolute;
  bottom: 13px;
  font-weight: 900;
}

.recruit-user-img-box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.recruit-user-content > p {
  margin: 5px 0;
  font-size: 12px;
}

.recruit-user-content > p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}

.recruit-user-content .recruit-user-btn {
  width: 100%;
  height: 40px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #0088ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow .3s;
}

.recruit-user-content .recruit-user-btn:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -3px -3px 4px -1px #ffffff;
  font-weight: 700;
}

.recruit-container .recruit-data-box {
  width: 75%;
  height: 30px;
  /* background-color: greenyellow; */
}


.recruit-data-box .recruit-data-content-box {
  width: calc(100% - 100px);
  margin: 30px 0 30px 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  padding: 20px 40px 30px 40px;
}

.recruit-data-content-box > p {
  font-family: 'TmonMonsori';
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
}

.recruit-data-content-box > p:nth-child(2) {
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif !important;
  margin-left: 250px;
  font-weight: 400;
}

.recruit-data-content-box .recruit-data-content {
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  background-color: #eff0f5;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  margin: 10px 0;
}
.recruit-data-content-box .recruit-data-content:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -3px -3px 4px -1px #ffffff;
  background-color: #ececf0;
}

.recruit-data-content .recruit-data-sort {
  padding: 5px 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  background-color: #ffffff75;
  margin-right: 10px;
  font-size: 14px;
}

.recruit-data-content .recruit-data-name {
  font-size: 14px;
  font-weight: 700;
}

.recruit-data-content .recruit-data-footer span {
  font-size: 14px;
}

.recruit-data-content .recruit-data-footer span:nth-child(1) {
  margin-right: 10px;
}

.recruit-data-content .recruit-data-footer span:nth-child(2) {
  margin-right: 5px;
  color: rgba(0,0,0,0.7)
}

.recruit-data-content .recruit-data-footer span:nth-child(3) {
  color: rgba(0,0,0,0.7)
}