.resume-box {
  width: 70%;
  background-color: #eff0f5;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 40px 50px 40px;
}

.resume-box > p {
  font-family: 'BMJUA';
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
}

.resume-user-box .resume-user-content {
  display: flex;
}

.resume-user-content label {
  width: 30%;
  margin: 0 30px 0 70px;
}

.resume-user-content .resume-user-img-box {
  width: 100%;
  height: 330px;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px #ffffff;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-user-img-box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.resume-user-img-box .fa-images {
  color: rgba(0,0,0,0.7);
  margin: 0;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  transition: .3s;
}

.resume-user-img-box .fa-images .fa-plus {
  color: rgba(0,0,0,0.7);
  margin: 0;
  position: absolute;
  bottom: 0;
  right: -30%;
  font-size: 20px;
  transition: .3s;
}

.resume-user-img-box > p {
  color: rgba(0,0,0,0.6);
  position: absolute;
  top:55%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  width: 100%;
  text-align: center;
  transition: .3s;
}

.resume-user-img-box > img {
  width: 80%;
  height: 80%;
}

.resume-user-content .resume-user-img-box:hover .fa-images,
.resume-user-content .resume-user-img-box:hover .fa-images .fa-plus,
.resume-user-content .resume-user-img-box:hover > p {
  color: #0088ff;
}

.resume-user-content .resume-user-profile {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.resume-user-profile .resume-user-input {
  width: 65%;
  outline: none;
  background: transparent;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px #ffffff;
  border-radius: 20px;
  border: none;
  padding-left: 3%;
}

.resume-user-profile .resume-user-profile-box {
  margin: 20px 0;
}

.resume-user-profile-box > span {
  width: 80px;
  margin-right: 30px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-align: end;
}

.resume-user-profile-box .resume-user-input {
  height: 40px;
}

.resume-school-box .resume-license-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-school-box .resume-license-certify-box {
  width: 80%;
  padding: 20px;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-license-certify-box > p {
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.resume-license-content .resume-license-school-box {
  width: calc(80% + 40px);
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.resume-license-school-box .resume-license-school-btn {
  width: 120px;
  height: 40px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.resume-license-school-box .resume-license-school-btn:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -3px -3px 4px -1px #ffffff;
  background-color: #0088ff;
  font-weight: 700;
  color: #ffffff;
}

.on-school-btn {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -3px -3px 4px -1px #ffffff !important;
  background-color: #0088ff;
  font-weight: 700;
  color: #ffffff !important;
}

.resume-license-content .resume-input-box {
  width: calc(90% + 60px);
  display: flex;
  flex-direction: column;
  transition: all .5s;
}

.resume-license-content .resume-input-box .resume-input-inner-box {
  width: 100%;
  display: flex;
}

.resume-input-box .resume-input-inner-box .inner-box {
  margin: 10px 40px 20px 0;
  width: 250px;
  display: flex;
  align-items: center;
  position: relative;
}

.resume-input-box .resume-input-inner-box .inner-box .fa-sistrix {
  position: absolute;
  right: 10px;
  transition: all .5s;
  color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.resume-input-box .resume-input-inner-box .inner-box .fa-sistrix:hover {
  color: #0088ff;
}

.resume-license-content .resume-input-box > div > div > label {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 700;
  width: 60px;
  display: flex;
  justify-content: flex-end;
}

.resume-license-content .resume-input-box > div > div > input,
.resume-license-content .resume-input-box > div > div > select {
  width: 150px;
  height: 30px;
  padding-left: 20px;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px #ffffff;
  border: none;
  border-radius: 20px;
  outline: none;
  background: transparent;
}

.resume-license-content .resume-input-box > div > .graduate-select-input > select {
  width: 120px;
}

.resume-license-content .resume-input-box > div > .location-input > input {
  width: 80px;
}

.resume-license-content .resume-input-box > div > .grade-input > input {
  width: 70px;
  margin-right: 10px;
  text-align: center;
  padding: 0;
}

.resume-license-content .resume-input-box > div > .grade-input > select {
  width: 70px;
  padding-left: 15px;
}

.resume-license-content .resume-license-btn-box {
  align-items: flex-end;
}

.resume-license-btn-box .resume-license-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  transition: all .5s;
  color: rgba(0,0,0,0.4);
}

.resume-input-inner-box .inner-box select option {
  background-color: #eff0f5;
}

.on-license-btn {
  background-color: #0088ff;
  font-weight: 700;
  color: #ffffff !important;
  transition: all .5s;
  cursor: pointer;
}

.on-license-btn:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0),
              0 0 0 0 rgba(0,0,0,0),
              inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -3px -3px 4px -1px #ffffff;
}

.resume-license-certify-box .resume-license-certified-list {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.resume-license-certified-list .certified-detail {
  margin-right: 20px;
  font-size: 13px;
}

.resume-license-certified-list .certified-detail-non-margin {
  margin-right: 5px;
}

.resume-license-certified-list .certified-mark-box {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0088ff;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
  color: #ffffff;
}

.certified-mark-box .fa-check-circle {
  margin-right: 5px;
}

.resume-license-certified-list .certified-type {
  margin-right: 20px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
              -6px -6px 10px -1px #ffffff;
  border-radius: 20px;
}